body {
    margin: 12px;
    background-color: #ffd1dc;
    }
.navbar {
    background-color: #c4d1ff;
    font-family: Eczar;
    font-size: 1.5vw;
    }
.main-top {
    padding: 5px;
    background-color: #b8ffc2;
    font-family: Montserrat;
    font-size: 80%;

    }
.main-bottom {
    background-color: #ffecb8;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 0px 5px 0px;
    }
.bioflip {
    width: 200px;
    height: 356px;
    perspective: 800px;
    }
.bioflipcard{
    width:100%;
    height: 100%;
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    }
.card {
    position: absolute;
    border-radius: 30px;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}
.bio-back {
    background-color: #ffb8c8;
    color: purple;
    font-family: Eczar;
    justify-content: center;
    align-self: center;
    transform: rotateY(180deg);
    }

.bioflip:hover .bioflipcard {
    transform: rotateY(180deg);
    }

.intro {
    margin: 20px 0px 5px 0px;
    display: flex;
    align-self: center;
    font-size: 3vw;
    font-family: Montserrat;
    overflow: hidden;
    border-right: .20em solid purple;
    white-space: nowrap;
    margin: 0, auto;
    letter-spacing: 0.08em;
    animation:
        typing 2.1s steps(40, end),
        blink-caret .65s step-end infinite;
    }
@keyframes typing {
    from { width: 0 }
    to {width: 100%}
    }
@keyframes blink-caret {
    from, to {border-color: transparent}
    50% {border-color: purple;}
    }